
<html>
<head>
<title>Category Search Menu</title>
<link rel="stylesheet" href="tree.css">
</head>
<body>
<h1>Expandable Category Search Menu</h1>
<!-- Start of Expandable Tree - All inside <ul>...</ul> -->
<!-- input type="checkbox" for expandable sub-trees
input type="radio" for category choices  -->
<ul class="tree" >

	<li class="section" >
	<input type="checkbox" id="Cats">
	<label for="Cats">Cats</label>
	<!-- Class "section" start of subtree -->
	<ul class="tree">
	<li class="plain" >
	<input type="radio" name="category" id="CatA" value="CatA">
	<label for="CatA">CatA</label>
	</li>
	<li class="section" >
	<input type="checkbox" id="CatB">
	<label for="CatB">CatB</label>
	<!-- Class "section" start of subtree -->
	<ul class="tree">
	<li class="plain" >
	<input type="radio" name="category" id="CatB" value="CatB">
	<label for="CatB">CatB</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatC" value="CatC">
	<label for="CatC">CatC</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatD" value="CatD">
	<label for="CatD">CatD</label>
	</li>
	</ul>
	</li>
	<li class="section" >
	<input type="checkbox" id="CatE">
	<label for="CatE">CatE</label>
	<!-- Class "section" start of subtree -->
	<ul class="tree">
	<li class="plain" >
	<input type="radio" name="category" id="CatE" value="CatE">
	<label for="CatE">CatE</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatF" value="CatF">
	<label for="CatF">CatF</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatG" value="CatG">
	<label for="CatG">CatG</label>
	</li>
	<li class="section" >
	<input type="checkbox" id="CatH">
	<label for="CatH">CatH</label>
	<!-- Class "section" start of subtree -->
	<ul class="tree">
	<li class="plain" >
	<input type="radio" name="category" id="CatH" value="CatH">
	<label for="CatH">CatH</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatI" value="CatI">
	<label for="CatI">CatI</label>
	</li>
	<li class="plain" >
	<input type="radio" name="category" id="CatJ" value="CatJ">
	<label for="CatJ">CatJ</label>
	</li>
</ul>
</body>
</html>
Number of elements: 11
