<!-- This is a Pebble Template which inherits from ... -->
{% extends "JAY" %}
{% block results %}
<div class="results">
	{% include "oneverypage" %}
	<h2>{{ title }}</h2>
	<form target="_self" method="post" action="changePassword" name="input"
		onsubmit="return validatePasswordForm(this)">
		<input class="testbutton" type="submit" value="Submit">
		<br>
		
		<table>
			<tr>
				<td>New password:</td>
				<td><input type="password" name="password1" size="20"
					maxlength="20">*</td>
			</tr>
			<tr>
				<td>Verify new password:</td>
				<td><input type="password" name="password2" size="20"
					maxlength="20">*</td>
			</tr>
			<tr>
				<td></td>
				<td>* indicates a mandatory field</td>
			</tr>
			<tr>
				<td></td>
				<td><b>Note: </b>Please select a password with a maximum of 20
					characters using a combination of uppercase and lowercase letters
					and numbers.</td>
			</tr>
		</table>
	</form>

	<br> 
</div>
{% endblock results %}