{% extends "JAY" %}

{% block results %}
<div class="results">
{% include "oneverypage" %}
<h2>{{ title }}</h2>


	<p>The following {{ numResults }} projects have been published.</p>
		{% if results is not empty %}

		<table>
			<tr>
				<th style="width: 15%; ">Project ID</th>
				<th style="width: 50%;">Title</th>
			</tr>

			{# There are 2 columns of data supplied on the page #}
			{% for val in results %} 
				{% if (loop.index + 1) % numCols equals 0 %}
					<td style="width: 50%">{{ val }}</td>
					</tr>
				{% elseif (loop.index + 1) % numCols equals 1 %} 
					<tr>
					<td style="width: 15%;">{{ val | trim}}</td>
				{% endif %} {# end of if (loop.index...) #} 
			{% endfor %} 
			{# end of for val in results #}
		</table>
		{% else %} {# results is empty #}
		   <p>No projects have been published.</p>
		{% endif %} {# end of if results is not empty #}
</div>
{% endblock results %}



