<table>
  <tr>
    <th colspan="2" style="text-align: center">Frequency Table</th>
  <tr>
  <tr>
    <th class="skip-filter" >Value</th>
    <th class="skip-filter" >Count</th>
  </tr>
  {% if ftable %}
    {% for key,value in ftable.items() %}
    <tr>
      <td>{{ key }}</td> <!-- Unique Value -->
      <td>{{ value }}</td> <!-- Count -->
    </tr>
    {% endfor %}
    <tr>
      <td>Series Size</td><td>{{ N|int }}</td>
    </tr>
  {% endif %}
</table>
<p>Statistics relate to plotted values only.</p>


