<table>
  <tr>
    <th class="skip-filter">Item</th>
    <th class="skip-filter">Value</th>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">Summary Statistics</th>
  <tr>
  <tr>
    <td>Minimum</td>
    <td>{{ min|round(6) }}</td>
  </tr>			    
  {% if deciles %}
    {% for dval in deciles %}
    <tr>
      <td>Decile {{ loop.index }}</td> <!-- Decile Number -->
      <td>{{ dval|round(6) }}</td> <!-- Decile Value -->
    </tr>
    {% endfor %}
  {% endif %}
  <tr>
    <td>Maximum</td>
    <td>{{ max|round(6) }}</td>
  </tr>			    
  <tr>
    <td>Mean</td>
    <td>{{ mean|round(6) }}</td>
  </tr>
  <tr>
    <td>Std Dev.</td>
    <td>{{ std|round(6) }}</td>
  </tr>
  <tr>
    <td>Variance</td>
    <td>{{ var|round(6) }}</td>
  </tr>
  <tr>
    <td>Series Size</td>
    <td>{{ N | int }}</td>
  </tr>
  
</table>
<p>Statistics relate to plotted values only.</p>


