<!-- This is a Pebble Template which inherits from ... -->
{% extends "Login-adminUserPage" %}
{% block results %}
<link rel="stylesheet" href="help-pages.css" type="text/css">
<script src="help-pages.js"></script>
<link rel="stylesheet" href="owl.css" type="text/css">
<div class="results owl-basket-page">
	{% include "oneverypage" %}
	<div class="help-header">
	  <h2>{{ title }}</h2>
	  <p>Everyone who has registered but not yet been approved or refused.</p>
	</div>
	{{ tableHtml|raw }}
</div>
{% endblock %}
