<!-- This is a Pebble Template which inherits from ... -->
{% extends swiftVersion|slice(0,3) == "Con" ? "SKYLARK" : "JAY" %}
{% block results %}
<link rel="stylesheet" href="help-pages.css" type="text/css">
<script src="help-pages.js"></script>
<link rel="stylesheet" href="owl.css" type="text/css">
<div class="results owl-basket-page">
	{% include "oneverypage" %}
	<div class="help-header">
	  <h2>{{ title }}</h2>
	  <p>Choose a new password for your account.</p>
	</div>
	<div class="owl-form-card">
	<form target="_self" method="post" action="changePassword" name="input"
		onsubmit="return validatePasswordForm(this)">
		<input class="owl-submit-button" type="submit" value="Submit">
		<table class="owl-table" style="margin-top:14px;">
			<tr>
				<td style="width:35%;"><label for="password1">New password:</label></td>
				<td><input type="password" id="password1" name="password1" size="20"
					maxlength="20"> *</td>
			</tr>
			<tr>
				<td><label for="password2">Verify new password:</label></td>
				<td><input type="password" id="password2" name="password2" size="20"
					maxlength="20"> *</td>
			</tr>
			<tr>
				<td></td>
				<td style="font-size:12px;color:#666;">* indicates a mandatory field</td>
			</tr>
			<tr>
				<td></td>
				<td style="font-size:12px;color:#666;"><b>Note: </b>Please select a password with a maximum of 20
					characters using a combination of uppercase and lowercase letters
					and numbers.</td>
			</tr>
		</table>
	</form>
	</div>
</div>
{% endblock results %}