{% extends swiftVersion|slice(0,3) == "Con" ? "SKYLARK" : "JAY" %}
{% block swiftmenu %}
<tr>
  <td>
    <ul id="menu-bar">
      <li><a href="helpAccess">Get Started</a></li>
      <li class="active"><a href="index.html">Home</a></li>
    </ul>
  </td>
</tr>
{% endblock %}

{% block results %}
<link rel="stylesheet" href="help-pages.css" type="text/css">
<script src="help-pages.js"></script>
<link rel="stylesheet" href="owl.css" type="text/css">
<div class="results owl-basket-page">
<div class="help-header">
  <h2>{{ title }}</h2>
  <p>Sign in to search, save, and submit baskets of NSHD variables.</p>
</div>
<form target="_self"
      enctype="application/x-www-form-urlencoded"
      method="post"
      action="login"
      name="input"
      id="loginForm"
      onsubmit="return validateLoginForm(this)"
      >
      <p>If you have arrived here by selecting <em>Register</em> from the menu bar, your session may have timed out.  
      If you select <em>Register</em> again you will be taken to the registration form.</p>
  <div class="owl-form-card">
    <label for="owlUsername">Username</label>
    <input id="owlUsername" name="username" type="text" maxlength="20">
    <label for="owlPassword" style="margin-top:10px;">Password</label>
    <input id="owlPassword" type="password" name="password" maxlength="20">
    <div class="owl-required-note">Passwords are case-sensitive.</div>
{% if hostname | lower equals "finch" %}
	<button class="owl-submit-button" type="submit">Login</button>
{% elseif hostname | lower equals "kiwidev" %}
	<button class="owl-submit-button" type="submit">Kiwidev Login</button>
{% elseif hostname | lower equals "kiwi" %}
	<button class="owl-submit-button" type="submit">Kiwi Login</button>
{% else %}
	<button class="owl-submit-button" type="submit">Login</button>
{% endif %}
  </div>
</form>
</div>
{% endblock %}

