{% extends swiftVersion|slice(0,3) == "Con" ? "SKYLARK" : "JAY" %}

{% block swiftmenu %}
<ul id="menu-bar">
<li><a href="index.html" title="Home"><span>&nbsp;</span>Home</a></li>
</ul>
{% endblock %}
{% block footer %}
<center>
  <INPUT class="testbutton" type="button" value="Back" onClick="history.back()">&nbsp;&nbsp;&nbsp;
  <INPUT TYPE="button" VALUE="HELP" ONCLICK="help()"> 
</center>
<center>
  <b>Problems?</b>
  <a href=emailEnquiry>Contact LHA</a>
  <br>Condor Version: {{ swiftVersion }}
</center>
{% endblock %}
{% flush %}

