<!-- This is a Pebble Template which inherits from ... -->
{% extends "Login-adminUserPage" %}
{% block results %}
<link rel="stylesheet" href="help-pages.css" type="text/css">
<script src="help-pages.js"></script>
<link rel="stylesheet" href="owl.css" type="text/css">
<div class="results owl-basket-page">
{% include "oneverypage" %}
{% set uname = results | first %}
<div class="help-header">
  <h2>{{ title }}</h2>
  <p>Set a new password for this user. <a href="resetPassword?id={{ sessionID }}">Choose a different user</a>.</p>
</div>
<form name="input"
      method="post"
      action="resetPassword"
      onsubmit="return validatePasswordForm(this)"
      >
  <input type="hidden" name="username" value="{{ uname }}">
  <div class="owl-form-card">
    <label>User</label>
    <div class="owl-reset-username">{{ uname }}</div>

    <label for="owlPassword1">New Password</label>
    <input id="owlPassword1" name="password1" type="password" maxlength="20">

    <label for="owlPassword2" style="margin-top:10px;">Verify Password</label>
    <input id="owlPassword2" type="password" name="password2" maxlength="20">

    <div class="owl-required-note">Passwords are case-sensitive.</div>
    <input class="owl-submit-button"
	   type="submit"
	   value="Submit"
	   formaction="resetPassword"
	   formmethod="post"
	   >
  </div>
</form>
</div>
{% endblock %}
