<!-- This is a Pebble Template which inherits from ... -->
{% extends swiftVersion|slice(0,3) == "Con" ? "SKYLARK" : "JAY" %}
{% block results %}
{# This is an example of a template which produces a table with 3 columns #}
{# but only 2 of them come from the results vector supplied for the template #}

<div class="results">
<h2>{{ title }}</h2>
{% include "oneverypage" %}
	<p>
	    <strong>Please note that it is no longer necessary to send XML basket lists
	    to the LHA.  Now, all you need to send us is the name of the required basket. </strong>
	</p>
{% if results is not empty %}
  <table>
    <tr>
      <th style="width:20%">Basket ID</th> {# Column 1 #}
      <th style="width:65%">Description</th> {# Column 2#}
      <th style="width:15%">XML Download?</th> {# Column 3 #}
    </tr>
    <tr>
    {% for val in results %} {# Looping over all elements of results #}
      {% if (loop.index + 1) % numCols equals 0 %}
        {# loop.index+1 is 0 or an exact multiple of numCols then this is the username field #}
        <td>{{ val }}</td>
        {# Add the two final non results columns and finish the row #}
        <td><a href="retrieve?command=toXML&basketID={{ thisbasket }}&description={{ val }}">Yes</a></td>
	    </tr><tr> {# Throw end of row at this point #}
      {% elseif (loop.index + 1) % numCols equals 1 %}
	    {# loop.index+1 is 1 so this should be the Basket Id field #}
	    {% set thisbasket = val %} {# this is necessary because the basket id preceeds the label #}
	    <td><a href="previousBasket?basketID={{ val }}">{{ val }}</a></td>
      {% else %}
        <td>Ugh!!! Loop Index+1:{{ loop.index+1 }} {{ val }}</td>
    {% endif %}
    {% endfor %}
    </tr>
  </table>
{% else %}
  <p>There are no baskets to list.</p>
{% endif %}
</div>
{% endblock %}
