{% extends "JAY" %}
{% block results %}
<div class="results">
{% include "oneverypage" %}
<h2>{{ title }}</h2>

<script type='text/javascript'>
function masterCheck( btn, ca, ua )
{
var elems = btn.form.elements, state = (btn.value == ca);
for( var i = 0, len = elems.length; i < len; i++ )
  if( elems[ i ].type && elems[ i ].type=='checkbox' )
    elems[ i ].checked = state; 
  btn.value = state ? ua : ca;
}
</script>
	<p>Your search returned {{ numResults }} results.</p>
	<form name="multipleAdd" onsubmit="return validateMultipleAdd(this)"
		action="trolley" method="post" target="_self">
		&nbsp;&nbsp;&nbsp;<input class="testbutton" type="button"
			name="checkall" value="Check ALL"
			onClick="masterCheck(this, 'Check ALL', 'Uncheck ALL')">
		&nbsp;&nbsp;&nbsp;<input class="testbutton" type="submit"
			value="Multiple Add">
		{% if results is not empty %}
		<table>
			<tr>
				<th style="width: 30%;">Dataset Name</th>
				<th style="width: 30%;">Description</b></th>
				<th style="width: 15%;">Tags</th>
				<th style="width: 5%;">Last Updated</th>
				<th style="width: 5%;">Year</th>
				<th style="width: 5%;">N</th>
				<th style="width: 5%;">Select?</th>
			</tr>

			{# There are 6 columns of data supplied but 7 columns on the page #}
			{% for val in results %} 
				{% if (loop.index + 1) % numCols equals 0 %}
				{# The last column of data but 1 to go on the page #}
					<td>{{ val }}</td>
					<td><input name="{{ dname }}" type="checkbox" value="{{ dname }}"></td>
					</tr>
				{% elseif (loop.index + 1) % numCols equals 1 %} 
				{# First column on the page is the dataset name #} 
					{% set dname = val %} {# remember the dataset name #}
					<tr>
					<td style="width: 30%">{{ val }}</td> 
				{% else	%} 
				{# this is used for the rest of the columns #}
					<td>{{ val }}</td> 
				{% endif %} {# end of if (loop.index...) #} 
			{% endfor %} 
			{# end of for val in results #}
		</table>
		{% else %} {# results is empty #}
		   <p>There were no results to display.</p>
		{% endif %} {# end of if results is not empty #}
</div>
{% endblock results %}


</table>
</form>

