<!DOCTYPE html>

<!-- This is SKYLARK.html a Pebble Template which is extensively used by other subtemplates -->
{% set wikihome = "https://skylark.ucl.ac.uk/NSHD/" %}
<html template="true" lang="en">
  {% block header %}
  <head>
    <!-- UCL Consent JS - loaded first so blocking takes effect before anything else -->
    <script src="https://cookie-consent.ucl.ac.uk/dist/ucl-consent.blocker.min.js"></script>
    <script src="https://cookie-consent.ucl.ac.uk/dist/ucl-consent.ui-full.min.js" defer></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type">
    <title>Condor</title>
    <meta http-equiv="Content-Type" content="text/html;"
	  charset="iso-8859-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <!-- This is the top level Pebble template that will be 'inherited' by other templates -->
    <link rel="stylesheet" href="SWIFT15.css" type="text/css">
    <link rel="stylesheet" href="treeview-navigation.css" type="text/css">
    <link rel="stylesheet" href="SWIFT15_Condor.css" type="text/css">

    <script type="text/javascript" src="treeview-navigation.js"></script>
    <script type="text/javascript" src="treeitem.js"></script>
    <script type="text/javascript" src="treeitemClick.js"></script>

    <script src="FormValidation.js"></script>
    <script src="Help.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="ddtf.js"></script>
    <!-- 
	 This is Google's version 3 tags.  Never made it work properly
	 <script src='https://www.google.com/recaptcha/api.js?render=6LeLAnkUAAAAAOL6qoCApkjOxKdbw4cy-xrg1lRV'></script>
	 -->
	 <!--  Make sure to use the right Site key here

	       kiwidev = 6LeLAnkUAAAAAOL6qoCApkjOxKdbw4cy-xrg1lRV
	       skylark = 6LdF3XgUAAAAAACAPmW7swE2bLNfxQlPvcu4JM2H

	       reCAPTCHA version 2 keys

	       kiwidev = 6LeBf3kUAAAAADU7T5AROQx9hj8LLJYke6i58Fqd
	       kiwi	= 6LcohasUAAAAAPVpqmaGF6Mkag3vmJKhHutoPKEa
	       version 2 script reference is below this
	   -->
	 <script src='https://www.google.com/recaptcha/api.js'></script>
	 <!--  this is version 3 which doesn't work
	       <script src='https://www.google.com/recaptcha/api.js?render=6LeLAnkUAAAAAOL6qoCApkjOxKdbw4cy-xrg1lRV'></script>
	       -->
  </head>
  {% endblock header %}
  <body>
    <header>
      <table>
	<tbody>
	  {% block banner %}
	  <tr>
	    <td>
	      <div class="banner">
		<img src="NSHDLogo.png" alt="National Survey of Health & Development" />
		<h1>&nbsp;&nbsp;MRC National Survey of Health and Development&nbsp;&nbsp;</h1>
		<img src="ukrimrc.png" alt="UKRI" />
	      </div>
	    </td>
	  </tr>
	  {% endblock banner %} 
	  {% block swiftmenu %}
	  <tr>
	    <form action="search" onsubmit="return validateSearchForm(this)"
		  method="post">
	      <td>
		<!-- Trying CSS3 - <nav> out but wait for the moment. -->
		  <ul id="menu-bar">
		    {% if menu | upper equals "EXTERNAL" %}
		    <li><a href="logout?go=home">Home</a></li>
		    <li><a href="#">OWL</a>
		      <ul>
			<li><a href="owlOverview">What is OWL</a></li>
			<li><a href="owlHowItWorks">How It Works</a></li>
			<li><a href="owlWalkthrough">Guided Walkthrough</a></li>
			<li><a href="uploadDictionary">Upload Data Dictionary</a></li>
			<li><a href="requestingBasket">Requesting your Condor basket</a></li>
		    </ul></li>
		    <li><a href="#">Search</a>
		      <ul>
			<li><a href="helpSearch">Get Started</a></li>
			<li><a href="search?type=c">By Category</a></li>
			<li><a href="search?type=n">By Variable Name</a></li>
			<li><a href="search?type=k">By Keyword</a></li>
			<!-- <li><a href="search?type=y">By Year</a></li> -->
			<li><a href="search?type=l">By Library</a></li>
			<!-- <li><a href="search?type=t">By Topic</a></li> -->
		    </ul></li>
		    <li><a href="#">Baskets{% if basketCount is not empty and basketCount > 0 %} <span class="owl-basket-count-badge {% if basketCount > 500 %}owl-basket-count-high{% elseif basketCount > 250 %}owl-basket-count-medium{% else %}owl-basket-count-low{% endif %}" title="{% if basketCount > 500 %}{{ basketCount - 500 }} over the 500-variable recommended limit.{% else %}{{ 500 - basketCount }} of 500 recommended variables remaining.{% endif %}">{{ basketCount }}</span>{% endif %}</a>
		      <ul>
			<li><a href="helpBaskets">Get Started</a></li>
			<li><a href="basket?command=saveNew&id={{sessionID}}">Save
			    Basket</a></li>
			<li><a href="basket?id={{sessionID}}">View Current
			    Basket</a></li>
			<li><a href="previousBasket?id={{sessionID}}">Load/Share
			    My Basket</a></li>
			<li><a href="sharedBasket?id={{sessionID}}">Load
			    Shared Basket</a></li>
			<!-- <li><a href="basket?command=saveExisting&id={{sessionID}}">Overwrite Basket</a></li> -->
			<li><a href="retrieve?id={{sessionID}}">Download
			    Basket</a></li>
		    </ul></li>
		    <li><a href="#">More...</a>
		      <ul>
			<li><a href="helpPresentation">Condor User Guide</a></li>
			<li><a href="logout?id={{sessionID}}">Logout</a></li>
			<!--  Help is now on the Wiki <li><a href="javascript:help();">Help</a></li>  -->
			<li><a href=" {{wikihome}}access/help-guides/">Help</a></li>
			<li><a href="changeRegistration">Update Contact
			    Details</a></li>
			<li><a href="changePassword">Change Password</a></li>
		    </ul></li>
		    <li><input name="term" type="text" placeholder="Search..." />
		      <input name="type" type="hidden" value="k" /></li>
		    <li>
		      <div>
			<!-- <input name="search_submit" type="submit" value=""/>  -->
		      </div>
		    </li> {% elseif menu | upper equals "INTERNAL" %}
		    <li><a href="logout?go=home">Home</a></li>
		    <li><a href="#">OWL</a>
		      <ul>
			<li><a href="owlOverview">What is OWL</a></li>
			<li><a href="owlHowItWorks">How It Works</a></li>
			<li><a href="owlWalkthrough">Guided Walkthrough</a></li>
			<li><a href="uploadDictionary">Upload Data Dictionary</a></li>
			<li><a href="requestingBasket">Requesting your Condor basket</a></li>
		    </ul></li>
		    <li><a href="#">Search</a>
		      <ul>
			<li><a href="helpSearch">Get Started</a></li>
			<li><a href="search?type=c&id={{sessionID}}">By Category</a></li>
			<li><a href="search?type=n&id={{sessionID}}">By Variable Name</a></li>
			<li><a href="search?type=k&id={{sessionID}}">By Keyword</a></li>
			<!-- <li><a href="search?type=y&id={{sessionID}}">By Year</a></li> -->
			<li><a href="search?type=l&id={{sessionID}}">By Library</a></li>
			<!--<li><a href="search?type=t&id={{sessionID}}">By Topic</a></li>-->
		    </ul></li>
		    <li><a href="#">Baskets{% if basketCount is not empty and basketCount > 0 %} <span class="owl-basket-count-badge {% if basketCount > 500 %}owl-basket-count-high{% elseif basketCount > 250 %}owl-basket-count-medium{% else %}owl-basket-count-low{% endif %}" title="{% if basketCount > 500 %}{{ basketCount - 500 }} over the 500-variable recommended limit.{% else %}{{ 500 - basketCount }} of 500 recommended variables remaining.{% endif %}">{{ basketCount }}</span>{% endif %}</a>
		      <ul>
			<li><a href="helpBaskets">Get Started</a></li>
			<li><a href="basket?command=saveNew&id={{sessionID}}">Save
			    Basket</a></li>
			<li><a href="basket?id={{sessionID}}">View Current
			    Basket</a></li>
			<li><a href="previousBasket?id={{sessionID}}">Load/Share
			    My Basket</a></li>
			<li><a href="sharedBasket?id={{sessionID}}">Load
			    Shared Basket</a></li>
			<!-- <li><a href="basket?command=saveExisting&id={{sessionID}}">Overwrite Basket</a></li> -->
			<li><a href="retrieve?id={{sessionID}}">Download
			    Basket</a></li>
		    </ul></li>
		    <li><a href="#">More...</a>
		      <ul>
			<li><a href="helpPresentation">Condor User Guide</a></li>
			<li><a href="logout?id={{sessionID}}">Logout</a></li>
			<!--  Help is now on the Wiki <li><a href="javascript:help();">Help</a></li>  -->
			<li><a href=" {{wikihome}}access/help-guides/">Help</a></li>
			<li><a href="changeRegistration">Update Contact
			    Details</a></li>
			<li><a href="changePassword">Change Password</a></li>
		    </ul></li>
		    <li><input name="term" type="text" placeholder="Search..." />
		      <input name="type" type="hidden" value="k" /></li>
		    <li>
		      <div>
			<!-- <input name="search_submit" type="submit" value=""/>  -->
		      </div>
		    </li> {% elseif menu | upper equals "ADMIN" %}
		    <li><a href="#">Manage Users</a>
		      <ul>
			<li><a href="approveUser?id={{ sessionID }}">Approve
			    User</a></li>
			<li><a href="resetPassword?id={{ sessionID }}">Reset
			    User Password</a></li>
		    </ul></li>
		    <li><a href="#">More...</a>
		      <ul>
			<li><a href="helpPresentation">Condor User Guide</a></li>
			<li><a href="logout?id={{sessionID}}">Logout</a></li>
			<!--  Help is now on the Wiki <li><a href="javascript:help();">Help</a></li>  -->
			<li><a href=" {{wikihome}}access/help-guides/">Help</a></li>
			<li><a href="changeRegistration">Update Contact
			    Details</a></li>
			<li><a href="changePassword">Change Password</a></li>
		    </ul></li> {% elseif menu | upper equals "DSG" %}
		    <li><a href="#">Baskets{% if basketCount is not empty and basketCount > 0 %} <span class="owl-basket-count-badge {% if basketCount > 500 %}owl-basket-count-high{% elseif basketCount > 250 %}owl-basket-count-medium{% else %}owl-basket-count-low{% endif %}" title="{% if basketCount > 500 %}{{ basketCount - 500 }} over the 500-variable recommended limit.{% else %}{{ 500 - basketCount }} of 500 recommended variables remaining.{% endif %}">{{ basketCount }}</span>{% endif %}</a>
		      <ul>
			<li><a href="helpBaskets">Get Started</a></li>
			<li><a href="basket?command=saveNew&id={{sessionID}}">Save
			    Basket</a></li>
			<li><a href="basket?id={{sessionID}}">View Current
			    Basket</a></li>
			<li><a href="previousBasket?id={{sessionID}}">Load/Share
			    My Basket</a></li>
			<li><a href="sharedBasket?id={{sessionID}}">Load
			    Shared Basket</a></li>
			<!-- <li><a href="basket?command=saveExisting&id={{sessionID}}">Overwrite Basket</a></li>  -->
			<li><a href="manageBaskets?id={{sessionID}}">Build
			    Any Dataset</a></li>
			<li><a
			      href="manageBaskets?id={{sessionID}}&command=download">Download
			    Dataset</a></li>
		    </ul></li>
		    <li><a href="#">More...</a>
		      <ul>
			<li><a href="helpPresentation">Condor User Guide</a></li>
			<li><a href="logout?id={{sessionID}}">Logout</a></li>
			<!--  Help is now on the Wiki <li><a href="javascript:help();">Help</a></li>  -->
			<li><a href=" {{wikihome}}access/help-guides/">Help</a></li>
			<li><a href="changeRegistration">Update Contact
			    Details</a></li>
			<li><a href="changePassword">Change Password</a></li>
		    </ul></li> {% else %}
		    <li class="active"><a href="index.html">Home</a></li> {% endif
		    %}
		  </ul> <!-- </nav> Paired with nav above -->
	      </td>
	    </form>
	  </tr>
	  {% endblock swiftmenu %}
	</tbody>
      </table>
    </header>
    <div class="results">
      {% block results %}
      <p style="margin: 5%; font-size: 150%;">Welcome to Condor, the
	public metadata browser for the NSHD Data Repository.</p>
      <p style="margin: 5%; font-size: 110%;">Please report any problems
	by email to MRCLHA.SwiftInfo@ucl.ac.uk.</p>
      {% endblock results %}
    </div>

    <footer> 
      {% block footer %}
      <table>
	<tr>
	  <td>
	    <center>
	      <a href="https://skylark.ucl.ac.uk/NSHD/access/help-guides/" >Help</a>
	    </center> 
	    <center>
	      <b>Problems?</b>
	      <a href="mailto:MRCLHA.Swiftinfo@ucl.ac.uk">Contact LHA</a>
	      <br>Version: {{ swiftVersion }}
	    </center>
	  </td>
	</tr>
      </table>			 
      {% endblock footer %} 
    </footer>
    <script>
    // Refreshes the menu's basket-count badge when the browser restores
    // this page from history (Back/Forward) - in that case the page's own
    // server-rendered count is a stale snapshot from when it was first
    // loaded, e.g. still showing no badge at all if the basket was empty
    // then. Asks the server for the current count (basket?command=count)
    // and updates or creates the badge to match; does nothing on a
    // normal page load, where the count is already correct.
    window.addEventListener('pageshow', function (event) {
      var nav = (performance.getEntriesByType && performance.getEntriesByType('navigation')[0]) || {};
      if (!event.persisted && nav.type !== 'back_forward') { return; }
      fetch('basket?command=count', { credentials: 'same-origin', cache: 'no-store' })
        .then(function (r) { return r.ok ? r.text() : null; })
        .then(function (text) {
          var n = parseInt(text, 10);
          if (isNaN(n)) { return; }
          var links = document.querySelectorAll('#menu-bar a');
          for (var i = 0; i < links.length; i++) {
            var a = links[i];
            if (!a.firstChild || a.firstChild.nodeType !== 3 || a.firstChild.nodeValue.trim().indexOf('Baskets') !== 0) { continue; }
            var old = a.querySelector('.owl-basket-count-badge');
            if (old) { a.removeChild(old); }
            if (n > 0) {
              var badge = document.createElement('span');
              badge.className = 'owl-basket-count-badge ' + (n > 500 ? 'owl-basket-count-high' : (n > 250 ? 'owl-basket-count-medium' : 'owl-basket-count-low'));
              badge.title = n > 500 ? (n - 500) + ' over the 500-variable recommended limit.' : (500 - n) + ' of 500 recommended variables remaining.';
              badge.textContent = n;
              a.insertBefore(document.createTextNode(' '), a.children[0] || null);
              a.insertBefore(badge, a.children[0] ? a.children[0].nextSibling : null);
            }
          }
        })
        .catch(function () { /* leave the page's own count as it was */ });
    });
    </script>
  </body>
</html>

