{% extends swiftVersion|slice(0,6) == "Condor" ? "SKYLARK" : "SWIFT" %}
{% block results %}
<div class="results">
	{% include "oneverypage" %}
	<h2>{{ title }}</h2>
	{% if results is not empty %}
	<p>A job that will run on a remote server is being generated to
		build the requested dataset.</p>
	<p>
		There will be a slight delay while this job executes on a remote
		server. You will be able to download the dataset using the <em>Download
			Data</em> command from the top menu.
	</p>
</div>
{% endblock results %}



